{% extends 'accounts/main.html'%} {% load static %} {% block content %}
<div class="container">
  <div class="row" style="margin: 2rem">
    <div class="col">
      <div class="card card-body">
        <form action="" method="post">
          {% csrf_token %} {{formset.management_form}}
          <ul class="list-group">
            {% for form in formset %}
            <li class="list-group-item">{{form}}</li>
            {% endfor %}
          </ul>
          <br />
          <input class="btn btn-sm btn-warning" type="submit" name="submit" />
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
